CREATE TABLE [dbo].[TmpPnt] (
	[ACCOUNT_ID] [int] NOT NULL ,
	[CONTRACT_ID] [int] NOT NULL ,
	[ACCOUNT_NAME] [varchar] (40) NULL ,
	[ADDRESS] [varchar] (40) NULL ,
	[AUDIT_TYPE_ID] [tinyint] NOT NULL ,
	[AUDIT_PARAM_ID] [tinyint] NOT NULL ,
	[AUDIT_METHOD_ID] [tinyint] NOT NULL ,
	[POWER_GROUP_ID] [tinyint] NOT NULL ,
	[BURNING_GROUP_ID] [tinyint] NULL ,
	[USE_HOUR] [varchar] (5) NULL ,
	[CALC_FACTOR] [decimal](9, 2) NOT NULL ,
	[LEGAL_DEVIATION] [tinyint] NOT NULL ,
	[ACCOUNT_OWNER_ID] [int] NOT NULL ,
	[TARIFF_ID] [int] NULL ,
	[STREET_ID] [smallint] NULL ,
	[HOUSE_ID] [varchar] (20) NULL ,
	[FLAT_ID] [varchar] (10) NULL ,
	[KNOT_MAIN] [varchar] (5) NULL ,
	[KNOT_OUT] [varchar] (12) NULL ,
	[SUBSTATION_TYPE_ID] [tinyint] NULL ,
	[SUBSTATION_ID] [varchar] (10) NULL ,
	[SECTION_ID] [tinyint] NULL ,
	[INDEX_F24_ID] [varchar] (5) NULL ,
	[CAPACITY] [decimal](9, 2) NULL ,
	[NODEID] [int] NULL ,
	[TRANC_POWER_ID] [int] NULL ,
	[TRANC_POWER_ACCOUNT_ID] [int] NULL ,
	[TRANC_POWER_METHOD_ID] [tinyint] NULL ,
	[rowguid] [uniqueidentifier] NOT NULL ,
	[AUDIT_METHOD_NAME] [varchar] (40) NOT NULL ,
	[AUDIT_PARAM_NAME] [varchar] (40) NOT NULL ,
	[AUDIT_TYPE_NAME] [varchar] (40) NOT NULL ,
	[FACTORY_NUMBER] [varchar] (12) NOT NULL 
) ON [PRIMARY]
GO

